{% extends "app/base.html" %}

<!-- Loader -->
<!-- <div id="preloader">
            <div id="status">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div> -->
<!-- Loader -->

<!-- Start Page Content -->
{% block body %}

<!-- Top Header -->

<div class="container-fluid">
    <div class="layout-specing">
        <div class="d-md-flex justify-content-between align-items-center mb-3">
            <h5 class="mb-0">View Ticket</h5>

            <nav aria-label="breadcrumb" class="d-inline-block mt-2 mt-sm-0">
                <ul class="breadcrumb bg-transparent rounded mb-0 p-0">
                    <li class="breadcrumb-item text-capitalize"><a href="/">High Five Digitizing</a></li>
                    <li class="breadcrumb-item text-capitalize active" aria-current="page">View Ticket</li>
                </ul>
            </nav>
        </div>
        

        <div class="row row-cols-xl-4 row-cols-md-2 row-cols-1">
            <div class="col mt-4">
                <a href="#!" class="features feature-primary d-flex justify-content-between align-items-center rounded shadow p-3">
                    <div class="d-flex align-items-center">
                        <div class="icon text-center rounded-pill">
                            <i class="uil uil-ticket fs-4 mb-0"></i>
                        </div>
                        <div class="flex-1 ms-3">
                            <h6 class="mb-0 text-muted">Total Tickets</h6>
                            <p class="fs-5 text-dark fw-bold mb-0"><span class="counter-value" data-target="{{total_tickets}}">{{total_tickets}}</span></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col mt-4">
                <a href="#!" class="features feature-primary d-flex justify-content-between align-items-center rounded shadow p-3">
                    <div class="d-flex align-items-center">
                        <div class="icon text-center rounded-pill">
                            <i class="uil uil-clock fs-4 mb-0"></i>
                        </div>
                        <div class="flex-1 ms-3">
                            <h6 class="mb-0 text-muted">Pending Tickets</h6>
                            <p class="fs-5 text-dark fw-bold mb-0"><span class="counter-value" data-target="{{total_pending_tickets}}">{{total_pending_tickets}}</span></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col mt-4">
                <a href="#!" class="features feature-primary d-flex justify-content-between align-items-center rounded shadow p-3">
                    <div class="d-flex align-items-center">
                        <div class="icon text-center rounded-pill">
                            <i class="uil uil-check-circle fs-4 mb-0"></i>
                        </div>
                        <div class="flex-1 ms-3">
                            <h6 class="mb-0 text-muted">Answered Tickets</h6>
                            <p class="fs-5 text-dark fw-bold mb-0"><span class="counter-value" data-target="{{total_answered_tickets}}">{{total_answered_tickets}}</span></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col mt-4">
                <a href="#!" class="features feature-primary d-flex justify-content-between align-items-center rounded shadow p-3">
                    <div class="d-flex align-items-center">
                        <div class="icon text-center rounded-pill">
                            <i class="uil uil-check-circle fs-4 mb-0"></i>
                        </div>
                        <div class="flex-1 ms-3">
                            <h6 class="mb-0 text-muted">Closed Tickets</h6>
                            <p class="fs-5 text-dark fw-bold mb-0"><span class="counter-value" data-target="{{total_closed_tickets}}">{{total_closed_tickets}}</span></p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        
        

        <div class="row">
            <!-- <div class="col-md-5 col-lg-4 order-md-last mt-4">
                                <div class="card rounded shadow p-4 border-0">
                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                        <span class="h5 mb-0">Your cart</span>
                                        <span class="badge bg-primary rounded-pill">3</span>
                                    </div>
                                    <ul class="list-group mb-3 border">
                                        <li class="d-flex justify-content-between lh-sm p-3 border-bottom">
                                            <div>
                                                <h6 class="my-0">Product name</h6>
                                                <small class="text-muted">Brief description</small>
                                            </div>
                                            <span class="text-muted">$12</span>
                                        </li>
                                        <li class="d-flex justify-content-between lh-sm p-3 border-bottom">
                                            <div>
                                                <h6 class="my-0">Second product</h6>
                                                <small class="text-muted">Brief description</small>
                                            </div>
                                            <span class="text-muted">$8</span>
                                        </li>
                                        <li class="d-flex justify-content-between lh-sm p-3 border-bottom">
                                            <div>
                                                <h6 class="my-0">Third item</h6>
                                                <small class="text-muted">Brief description</small>
                                            </div>
                                            <span class="text-muted">$5</span>
                                        </li>
                                        <li class="d-flex justify-content-between bg-light p-3 border-bottom">
                                            <div class="text-success">
                                                <h6 class="my-0">Promo code</h6>
                                                <small>EXAMPLECODE</small>
                                            </div>
                                            <span class="text-success">−$5</span>
                                        </li>
                                        <li class="d-flex justify-content-between p-3">
                                            <span>Total (USD)</span>
                                            <strong>$20</strong>
                                        </li>
                                    </ul>
                            
                                    <form>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Promo code">
                                            <button type="submit" class="btn btn-secondary">Redeem</button>
                                        </div>
                                    </form>
                                </div>
                            </div> -->
            <!--end col-->

            <div class="col-md-12 col-lg-12 mt-4 m-auto">
                
                <div class="row">
                    <div class="col-xl-12 mt-4">
                        <div class="card border-0">
                            <div class="d-flex justify-content-between p-4 shadow rounded-top">
                                <h6 class="fw-bold mb-0">Tickets</h6>
        
                                <!-- <ul class="list-unstyled mb-0">
                                                    <li class="dropdown dropdown-primary list-inline-item">
                                                        <button type="button" class="btn btn-icon btn-pills btn-soft-primary dropdown-toggle p-0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ti ti-dots-vertical"></i></button>
                                                        <div class="dropdown-menu dd-menu dropdown-menu-end shadow border-0 mt-3 py-3">
                                                            <a class="dropdown-item text-dark" href="#"> Paid</a>
                                                            <a class="dropdown-item text-dark" href="#"> Unpaid</a>
                                                        </div>
                                                    </li>
                                                </ul> -->
                            </div>
                            <div class="table-responsive shadow rounded-bottom" data-simplebar>
                                {% if tickets %}
                                <table class="table table-center bg-white mb-0">
                                    <thead>
                                        <tr>
                                            {% comment %} <th class="border-bottom p-3">Job ID.</th> {% endcomment %}
                                            <th class="border-bottom p-3">Date</th>
                                            <th class=" border-bottom p-3" style="min-width: 220px;">Subject</th>
                                            <th class=" border-bottom p-3" style="min-width: 150px;">Priority</th>
                                            <th class=" border-bottom p-3">Status</th>
                                            {% comment %} <th class="text-center border-bottom p-3" style="min-width: 220px;">Type</th>
                                            <th class="text-center border-bottom p-3">Amount</th>
                                            <th class="text-center border-bottom p-3">Download</th>
                                            <th class="text-end border-bottom p-3" style="min-width: 100px;">Preview</th> {% endcomment %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Start -->
                                         {% for i in tickets %}
                                        <tr>
                                            {% comment %} <th class="p-3">185487</th> {% endcomment %}
                                            <td class="p-3">
                                                {{i.created_at}}
                                                <!-- <a href="#" class="text-primary">
                                                                    <div class="d-flex align-items-center">
                                                                        <img src="/static/app/assets/images/client/01.jpg" class="avatar avatar-ex-small rounded-circle shadow" alt="">
                                                                        <span class="ms-2">Howard Tanner</span>
                                                                    </div>
                                                                </a> -->
                                            </td>
                                            <td class=" p-3">{{i.subject}}</td>
                                            <td class=" p-3">{{i.priority}}</td>
                                            <td class=" p-3">
                                                {% if i.ticket_status == "Pending" %}
                                                <div class="badge bg-soft-danger rounded px-3 py-1">
                                                    Pending
                                                </div>
                                                {% elif i.ticket_status == "Answered" %}
                                                <div class="badge bg-soft-success rounded px-3 py-1">
                                                    Answered
                                                </div>
                                                {% elif i.ticket_status == "Closed" %}
                                                <div class="badge bg-soft-info rounded px-3 py-1">
                                                    Closed
                                                </div>
                                                {% endif %}
                                            </td>
                                            {% comment %} <td>Vector Conversion </td>
                                            <td>$45 </td>
                                            <td>
                                                <div class="badge bg-soft-danger rounded px-3 py-1">
                                                    Pay and Download
                                                </div>
                                            </td>
                                            <td class="text-end p-3">
                                                <a href="invoice.html" class="btn btn-sm btn-primary">Preview</a>
                                            </td> {% endcomment %}
                                        </tr>
                                        {% endfor %}
                                       
                                        
                                        <!-- End -->
        
                                        <!-- Start -->
        
                                        <!-- End -->
        
        
                                        <!-- End -->
                                    </tbody>
                                </table>
                                {% else %}
                                <div class="alert bg-soft-info fw-medium mx-3 my-3" role="alert">You have not Placed any Tickets yet <a href="/open_ticket/" class="text-warning text-decoration-underline">Open Ticket</a></div>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
            <div class="row text-center">
                <!-- PAGINATION START -->
                <div class="col-12 mt-4">
                    <div class="d-md-flex align-items-center text-center justify-content-between">
                        <span class="text-muted me-3">
                            Showing {{ tickets.start_index }} - {{ tickets.end_index }} out of {{ tickets.paginator.count }}
                        </span>
                        <ul class="pagination mb-0 justify-content-center mt-4 mt-sm-0">
                            {% if tickets.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ tickets.previous_page_number }}" aria-label="Previous">Prev</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <span class="page-link">Prev</span>
                                </li>
                            {% endif %}
                
                            {% for num in tickets.paginator.page_range %}
                                {% if tickets.number == num %}
                                    <li class="page-item active">
                                        <a class="page-link" href="#">{{ num }}</a>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                
                            {% if tickets.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ tickets.next_page_number }}" aria-label="Next">Next</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <span class="page-link">Next</span>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                
                <!--end col-->
                <!-- PAGINATION END -->
            </div>
            <!--end col-->
        </div>



    </div>
</div><!--end container-->


{% endblock body %}

<!--End page-content" -->