<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>
    <style>

.container {
    width: 717px;
    margin: auto;
    background: white;
    padding: 23px;
}

body {
    font-family: sans-serif;
    background: #dbdbdb;
}

    </style>
</head>
<body>
    

    <div class="container">
        <div class="privacy_content">
            <h2><span style="color: rgb(0, 0, 0);"><strong>Golden Glove Movers Privacy Policy</strong></span></h2>
            <p><span style="color: rgb(0, 0, 0);">Thank you for using Golden Glove Movers! We are committed to protecting your privacy. This privacy policy explains how we handle any information collected from you while using our app.</span></p>
            <h2><span style="color: rgb(0, 0, 0);"><strong>No Data Collection</strong></span></h2>
            <p><span style="color: rgb(0, 0, 0);">Golden Glove Movers does not collect any personal or non-personal data from its users. We do not gather information such as names, email addresses, device information, or usage statistics.</span></p>
            <h2><span style="color: rgb(0, 0, 0);"><strong>Usage of Permissions</strong></span></h2>
            <p><span style="color: rgb(0, 0, 0);">Golden Glove Movers may require certain permissions on your device to function properly. These permissions are solely used for the intended purpose of the app and are not utilized to collect or store any user data.</span></p>
            <h2><span style="color: rgb(0, 0, 0);"><strong>Third-Party Services</strong></span></h2>
            <p><span style="color: rgb(0, 0, 0);">Our app does not integrate with any third-party services that collect user data. We do not share any information with third parties.</span></p>
            <h2><span style="color: rgb(0, 0, 0);"><strong>Changes to this Privacy Policy</strong></span></h2>
            <p><span style="color: rgb(0, 0, 0);">We reserve the right to update or change our privacy policy at any time. Any updates will be reflected in this document, and we encourage you to review it periodically.</span></p>
            <h2><span style="color: rgb(0, 0, 0);"><strong>Contact Us</strong></span></h2>
            <p><span style="color: rgb(0, 0, 0);">If you have any questions or concerns about our privacy practices, please contact us at info@goldenglovemovers.com.</span></p>
        </div>
    </div>
</body>
</html>